{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Search for Artists</h1>
                <input type="text" id="mainArtistSearch" class="form-control" placeholder="Search for an artist..." />
                <ul id="mainArtistDropdown" class="list-group mt-3">
                    <!-- Dynamic list of artists will be populated here -->
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
