{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <a href="{{ url_for('add_playlist') }}" class="btn btn-primary mb-3">
                    + Add Playlist
                </a>
                <h5>Your Playlists</h5>
                <ul class="list-group">
                    {% if playlists %}
                        {% for playlist in playlists %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ playlist.name }}
                                <a href="{{ url_for('view_playlist', playlist_id=playlist.playlist_id) }}" class="btn btn-secondary btn-sm">View</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No playlists available.</li>
                    {% endif %}
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
                <h1>Welcome to Adamtify</h1>
                <hr>
                <h3>Search for Songs</h3>
                <!-- Button to go to the song search page -->
                <a href="{{ url_for('search') }}" class="btn btn-primary">Go to Song Search</a>
            
                <h3 class="mt-4">Search for Artists</h3>
                <!-- Button to go to the artist search page -->
                <a href="{{ url_for('search_artist') }}" class="btn btn-secondary">Go to Artist Search</a>
            </div>
            
        </div>
    </div>
{% endblock %}
